In [16]:
import numpy as np
import pandas as pd

In [29]:
def nearest_neighbour(df: pd.DataFrame, n_neigbours, *target):
    df['distances'] = np.sqrt((df['lat'] - target[0])**2 + (df['long'] - target[1])**2)
    return df.sort_values(by='distances').head(n_neigbours)

In [30]:
latitudes   = np.random.random(50) * 100 - 50
longitudes  = np.random.random(50) * 100 - 50

df = pd.DataFrame({
    'lat': latitudes,
    'long': longitudes
})

In [31]:
target = (-52.5, -52.5)
number_of_neighbours = 5

In [32]:
nearest_neighbour(df, number_of_neighbours, *target)

          lat       long  distances
18 -45.228703 -46.330588   9.535901
41 -41.630685 -44.304476  13.612811
27 -43.187806 -40.413259  15.257990
9  -37.503965 -20.010913  35.782982
29 -23.730644 -27.467190  38.135514